* {
    margin: 0em;
    padding: 0em;
}

.banner {
    font-family: 'Bitter', serif;
    background-color: #FFE521;
    padding: 1em;
    height: 6.25em;
}

.logo {
    width: 100%;
    margin: auto;
}


/* Posición de la barra de búsqueda */

.input-group {
    float: right;
    bottom: 3.125em;
}


/* propiedades de botón de búsqueda */

.btn-outline-secondary {
    background-color: #FF009E;
    border: none;
    color: white;
}


/* propiedades dropdown */

.dropdown-toggle {
    background-color: #56F89A;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .col-sm-10 {
        height: 3em;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

#table{
    margin-left: 14em;
}
#dropdownMenu2{
    margin-left: 16.9em;
}
